.intro {
	padding-left: 2% !important;
}
.materijalBlok {
	margin-top: 20px;
	background: white;
	width: 100%;
	border-radius: 5px;
	height: auto;
}
.materijalNaslov {
	padding-top: 10px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 20px;
	border-bottom: 1px solid gray;
}
.materijalSadrzaj {
	margin-left: 40px;
	margin-right: 40px;
	text-align: justify;
	margin-bottom: 20px;
	border-bottom: 1px solid gray;
}
.materijalSlika {
	width: 100%;
	height: auto;
}
.materijalAudio {
	width: 100%;
}
.materijalKomande {
	padding-top: 10px;
	margin-left: 40px;
	margin-right: 40px;
	padding-bottom: 40px;
	display: inline-block;
}
.materijalLike {
	margin-right: 20px;
	display: inline;
	font-size: 24px !important;
}
.akcija:hover {
	background: rgb(212,210,212);
}
#image-preview {
	width: 50%;
	height: auto;
}
.aktivniKorisnik {
	display: inline-block;
	font-size: 20px;
	color: white;
}
.firstAdminRow {
	margin-top: 100px;
}
.tab {
	margin-top: 50px;
	text-align: center;
	background-color: white;
	height: 200px;
	width: 30% !important;
	border-radius: 5px;
	margin-left: 3%;
	padding-top: 40px;
	padding-right: 5px;
}
.upperTab {
	margin-top: 50px;
}
.smallTab {
	width: 15% !important;
}
.tabProfesor {
	margin-top: 50px;
	text-align: center;
	background-color: white;
	height: 200px;
	width: 46.5% !important;
	border-radius: 5px;
	margin-left: 3%;
	padding-top: 40px;
	padding-right: 5px;
}
.rowStudent {
	margin-top: 100px !important;
}
.tabStudent {
	margin-top: 50px !important;
}
.tab:hover {
	background-color: rgb(212,210,212);
}
.ikone {
	font-size: 72px;
	color: rgb(184,0,44);
}
.naslovi {
	font-size: 36px;
	color: rgb(184,0,44);
}
