<div class="intro">
	<h1>Blokiranje korisnika</h1>
	<p>Lista svih korisnika</p>
</div>

<div class="content">
	<input type="text" class="form-control" placeholder="Pretraga" ng-model="search"></input>
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th>Korisničko ime</th>
	      <th>Adresa</th>
	      <th>Telefon</th>
	      <th>Blokiraj korisnika</th>
	    </tr>
	  </thead>
	  <tbody ng-repeat="korisnik in korisnici | filter : search">
	    <tr>
	      <td>{{ korisnik.korisnickoIme }}</td>
	      <td>{{ korisnik.adresa }}</td>
	      <td>{{ korisnik.brojTelefona }}</td>
	      <td><button class="btn btn-success" ng-click="blokiraj(korisnik)">Blokiraj korisnika</button></td>
	    </tr>
	  </tbody>
	</table>
</div>