<div class="container">
  <div class="row">
    <div class="col-md-6 tab" ng-click="idiNaPocetnu()">
      <i class="fa fa-home ikone"></i> <span></span>
      <p class="naslovi">Početni</p>
    </div>
    <div class="col-md-6 tab" ng-click="idiNaPredmete()">
      <i class="fa fa-book ikone"></i><span></span>
      <p class="naslovi">Predmeti</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 tab" ng-click="idiNaTeme()">
      <i class="fa fa-header ikone"></i><span></span>
      <p class="naslovi">Teme</p>
    </div>
    <div class="col-md-6 tab" ng-click="idiNaGenerisanje()">
      <i class="fa fa-clone ikone"></i><span></span>
      <p class="naslovi">Generisanje materijala</p>
    </div>
  </div>
</div>