<div class="container">
  <div class="row rowStudent">
    <div class="col-md-4 tab tabStudent" ng-click="idiNaPocetnu()">
      <i class="fa fa-home ikone"></i> <span></span>
      <p class="naslovi">Početni</p>
    </div>
    <div class="col-md-4 tab tabStudent" ng-click="idiNaPredmete()">r
      <i class="fa fa-book ikone"></i><span></span>
      <p class="naslovi">Predmeti</p>
    </div>
    <div class="col-md-4 tab tabStudent" ng-click="idiNaTeme()">
      <i class="fa fa-header ikone"></i><span></span>
      <p class="naslovi">Teme</p>
    </div>
  </div>
</div>