<div class="container">
  <div class="row">
    <div class="col-md-4 tab" ng-click="idiNaPocetnu()">
      <i class="fa fa-home ikone"></i> <span></span>
      <p class="naslovi">Početna</p>
    </div>
    <div class="col-md-4 tab" ng-click="idiNaKorisnike()">
      <i class="fa fa-users ikone"></i><span></span>
      <p class="naslovi">Korisnici</p>
    </div>
    <div class="col-md-4 tab" ng-click="idiNaPredmete()">
      <i class="fa fa-book ikone"></i><span></span>
      <p class="naslovi">Predmeti</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 tab" ng-click="idiNaMaterijale()">
      <i class="fa fa-files-o ikone"></i><span></span>
      <p class="naslovi">Materijali</p>
    </div>
    <div class="col-md-6 tab" ng-click="idiNaBlokiranje()">
      <i class="fa fa-ban ikone"></i><span></span>
      <p class="naslovi">Blokiranje</p>
    </div>
  </div>
</div>