<div class="intro">
	<h1>Korisnici</h1>
	<p>Lista svih korisnika</p>
	<button type="button" class="btn btn-primary" ng-click="noviKorisnik()">Dodaj novog korisnika</button>
</div>

<div class="content">
	<input type="text" class="form-control" placeholder="Pretraga" ng-model="search"></input>
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th>Korisničko ime</th>
	      <th>Adresa</th>
	      <th>Telefon</th>
	      <th>Datum kreiranja</th>
	      <th>Izmeni</th>
	    </tr>
	  </thead>
	  <tbody ng-repeat="korisnik in korisnici | filter : search">
	    <tr>
	      <td>{{ korisnik.korisnickoIme }}</td>
	      <td>{{ korisnik.adresa }}</td>
	      <td>{{ korisnik.brojTelefona }}</td>
	      <td>{{ korisnik.datumKreiranja | date }}</td>
	      <td><button class="btn btn-success" ng-click="izmeniKorisnika(korisnik)">Izmeni</button></td>
	    </tr>
	  </tbody>
	</table>
</div>