<div class="newUser">
	<h3 style="padding-left: 20px;">Dodaj novog korisnika</h3>
	<form style="padding-top: 30px; padding-left: 20px; padding-right: 20px;">
		<label for="userType">Korisničko ime:</label>
		<input type="text" class="form-control" id="username" ng-model="korisnik.korisnickoIme" ng-disabled="korisnik.korisnikId"></input>

		<label for="usrname">Adresa:</label>
		<input type="text" class="form-control" id="address" ng-model="korisnik.adresa"></input>
		<label for="usrname">Broj telefona:</label>
		<input type="text" class="form-control" id="phoneNumber" ng-model="korisnik.brojTelefona"></input>

		<div style="padding-top: 20px;">
			<button type="submit" class="btn btn-primary" ng-click="sacuvajKorisnika()">Sačuvaj korisnika</button>
			<button type="button" class="btn btn-danger" ng-click="odustani()">Odustani</button>
		</div>
	</form>
</div>