<div class="intro">
	<h1>Materijali</h1>
	<p>Lista svih materijala</p>
	<button type="button" class="btn btn-primary" ng-click="nazad()">Nazad na teme</button>
	<button type="button" class="btn btn-primary" ng-click="stampaj()">Štampaj materijal</button>
</div>

<div class="content">
	<h2>Odabrani predmet: {{predmet.nazivPredmeta}}</h2>
	<br>
	<input type="text" class="form-control" placeholder="Pretraga" ng-model="pretraga"></input>
	
	<div ng-repeat="materijal in materijali | filter : pretraga">
		<materijal-blok-profesor materijal="materijal"></materijal-blok-profesor>
	</div>
</div>