<div class="intro">
	<h1>Predmeti</h1>
	<p>Lista svih predmeta</p>
	<button type="button" class="btn btn-primary" ng-click="dodajPredmet()">Dodaj novi predmet</button>
</div>

<div class="content">
	<input type="text" class="form-control" placeholder="Search" ng-model="pretraga"></input>
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th>Naziv predmeta</th>
	      <th>Opis predmeta</th>
	      <th>Školska godina</th>
	      <th>Datum kreiranja</th>
	      <th>Izmeni</th>
	      <th>Dodeli profesora</th>
	      <th>Odaberi studente</th>
	    </tr>
	  </thead>
	  <tbody ng-repeat="predmet in predmeti | filter : pretraga">
	    <tr>
	      <td>{{ predmet.nazivPredmeta }}</td>
	      <td>{{ predmet.opisPredmeta }}</td>
	      <td>{{ predmet.skolskaGodina | date }}</td>
	      <td>{{ predmet.datumKreiranja | date }}</td>
	      <td><button type="button" class="btn btn-success" id="btnToHide" ng-click="izmeniPredmet(predmet)">Izmeni</button></td>
	      <td><button type="button" class="btn btn-success" ng-click="dodeliProfesora(predmet)">Dodeli profesora</button></td>
	      <td><button type="button" class="btn btn-success" ng-click="odaberiStudente(predmet)">Odaberi studente</button></td>
	    </tr>
	  </tbody>
	</table>
</div>