<div class="intro">
	<h1>Teme</h1>
	<p>Lista svih tema</p>
</div>

<div class="content">
	<input type="text" class="form-control" placeholder="Pretraga" ng-model="search"></input>
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th>Naziv teme</th>
	      <th>Opis teme</th>
	      <th>Datum kreiranja</th>
	      <th>Prikaži materijale</th>
	    </tr>
	  </thead>
	  <tbody ng-repeat="tema in teme | filter : search">
	    <tr>
	      <td>{{ tema.nazivTeme }}</td>
	      <td>{{ tema.opisTeme }}</td>
	      <td>{{ tema.datumKreiranja | date }}</td>
	      <td><button class="btn btn-success" ng-click="primaziMaterijale(tema)">Prikaži materijale</button></td>
	    </tr>
	  </tbody>
	</table>
</div>